Q1. How do you comment code in Python? What are the different types of comments?
There are two types of comments


1.	Single line comments – # symbol is used to comment single line
2.	Multi line comments – “””  “”” symbol used to comment multiple line.

Q2. What are variables in Python? How do you declare and assign values to variables?

Variable reserves space in memory. Variables in python are case sensitive. 
Assignment operator “=” used to assign values to variable
Eg. MyName = "Shubhangi"

In [5]:
MyName = "Shubhangi"

Q3. How do you convert one data type to another in Python?

Type conversion is used to convert data type in python

Eg.  a=int(b)
      list=set(list)

In [6]:
b=15
a=float(b)

In [7]:
a

15.0

Q4. How do you write and execute a Python script from the command line?
Open a command line and type the word python followed by the path to your script file 
    eg. python first_script.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
My_list=my_list[1:3]

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list[1:2]

[2]

In [10]:
my_list

[1, 2, 3, 4, 5]

In [11]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?
Complex number is combination of real and imaginary number
Eg. e=4+7j where 4 and 7 are real number and j is imaginary number.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it

age=25

In [12]:
age=25

In [13]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [14]:
Price = 9.99

In [16]:
type(Price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

Name=”Shubhangi sawant”
print(“full name is:”,Name)

In [21]:
Name="Shubhangi sawant"
print("full name is:",Name)

full name is: Shubhangi sawant

Q10. Given the string "Hello, World!", extract the substring "World".

In [23]:
mystring="Hello,World!"
mystring[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [25]:
Is_student=True

In [26]:
type(Is_student)

bool